.mc_title{
	font-weight: 900;
}

.mc_section{
	background: #fff;
	padding: 10px 15px;
	margin: 15px 0;
}

.mc_section > h2{
	margin: 0 0 1em 0;
}

.mc_block{
	position: relative;
	padding: 10px 0;
	margin-bottom: 10px;
}

.mc_block:before,
.mc_block:after{
	content: '';
	width: 100%;
	height: 1px;
	background: rgba(0,0,0,.1);
	position: absolute;
}

.mc_block:before{
	top: 0;
}

.mc_block:after{
	bottom: -5px;
}

.mc_form{
	width: 100%;
}

.form_import .mc_table{
	width: 100%;
}

.form_import .mc_table tr{
	
}

.form_import .mc_table tr > td{
	padding: 10px 0;
}

.form_import .mc_table tr > td:first-child{
    width: 40%;
	text-align: right;
	padding-right: 10px;
}

.form_import .mc_table tr > td:last-child{
	width: 60%;
}

.form_import .mc_table label{
	display: block;
	margin-bottom: 5px;
}

.form_import .mc_table label:last-child{
	margin-bottom: 0;
}

.file_upload_bar{
	width: 100%;
}

.form_import .mc_table tr.file_upload_bar > td:first-child{
	width: 100%;
}

.form_import .mc_table tbody.none{
	display: none;
}

.file_upload_bar_block{
	width: 100%;
	height: 20px;
	position: relative;
	background: rgba(0,0,0,.05);
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 3px;
	margin: 20px 0;
	display: none;
}

.file_upload_bar_line{
	width: 0%;
	height: 100%;
	background: rgba(0, 115, 170, 0.7);
	position: absolute;
	top: 0;
	left: 0;
}

.mc_forms {
  padding: 0 45px;
}

.mc_forms_row {
  width: 100%;
  margin-bottom: 25px;
}

.mc_forms_row > input[type="text"],
.mc_forms_row > input[type="phone"],
.mc_forms_row > input[type="mail"],
.mc_forms_row > input[type="password"] {
  width: 50%;
  height: 40px;
  padding: 0 15px;
  border: 2px solid #e6e6e6;
}

.mc_forms_row > input[type="submit"],
.btn_mc_submit {
  background: #4ba85b;
  color: #fff;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.mc_forms_row > input[type="submit"]:hover,
.btn_mc_submit:hover {
  background: #fff;
  color: #4ba85b;
  border: 2px solid #4ba85b;
}

.mc_forms_row > textarea {
  width: 100%;
  min-height: 120px;
  padding: 15px;
  border: 2px solid #e6e6e6;
}

.mc_login{
	width: 300px;
	margin: 70px auto 50px;
}

.mc_login > p{
	text-align: center;
	font-size: 28px;
	margin-bottom: 50px;
	color: #30a056;
}

.mc_login .mc_forms_row > input[type="text"],
.mc_login .mc_forms_row > input[type="phone"],
.mc_login .mc_forms_row > input[type="mail"],
.mc_login .mc_forms_row > input[type="password"],
.mc_login .btn_mc_submit{
	width: 100%;
}

.text_center {
  text-align: center;
}

.mc_page .about .view_content{
	padding: 0;
}

.mc_page .block_left{
	width: 270px;
	float: left;
}

.mc_page .block_right{
	width: calc(100% - 305px);
    float: right;
}

.mc_content{
	padding-left: 30px;
	padding-bottom: 40px;
	border-left: 1px solid rgba(0,0,0,.3);
}

.mc_page .about .view_content p{
	margin-bottom: 5px;
}

.mc_page ul{
	font-size: 18px;
	list-style: none;
	padding-left: 10px;
	margin: 5px 0;
}

.mc_page ul > li{
	margin-bottom: 5px;
}

.mc_profile_view > p,
.mc_profile_view > ul > li{
	font-weight: 600;
}

.mc_profile_view > p > span,
.mc_profile_view > ul > li > span{
	font-weight: 400;
}

.mc_page sup{
	font-size: 12px;
}


